body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: inherit !important;
  background: inherit !important;
  color: inherit !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#welcome-section {
  place-content: center;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
}

.caption-text {
  letter-spacing: 0.07em !important;
  /* text-shadow: 3px 4px 5px rgb(0 0 0 / 19%); */
}

.border-full {
  /* border-radius: 100%; */
  border-radius: 2rem;
}

.text-white {
  color: white;
}

.with-shadow {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.68);
}

.mb-1 {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.clear-link {
  display: inherit;
}

.mt-1 {
  margin-top: 1rem;
}

.bounce {
  /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
  animation: bounce-anim2 0.4s alternate 0.05s infinite ease-in-out;
  margin-top: 20px;
  margin-bottom: 20px;
}

@keyframes bounce-anim2 {
  from {
    transform: translateY(0px) translateZ(0px);
  }
  to {
    transform: translateY(-20px) translateZ(-20px);
  }
}
